:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    
--cor-de-fundo: #F6BBBE;
--cor-de-link:  #49373B;;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;    
}
ol, ul,li {
    list-style: none;
}
a, h2, h3, h4, p{
    text-decoration: none;
    color: var(--cor-de-link);
}
.pagina{
    display: flex;
    flex-direction: column;
    width: 99.9%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;   
}
/*Sección Menu*/
section.menu{
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    border-radius: 10px;
    background-color: #9DAE7D;
}

header.menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;    
}

/*No tomo el renderizado de la imagen*/
.logo{
    width: 5em;
    height: 5em;
}

.menu__list{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}
/*Sección Title*/
section.title{
    display: flex;
    margin: 32px 5%;
    max-width: 1440px;
}
.title__container{
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
}
.title__container{
    font-weight: bold;
    font-size: 52px;
    margin-top: auto;    
}
.title__subsection{
    font-size: 22px;
    font-weight: 100;
    
}
/*Sección Resumen*/
section.resume{
    background-color: #FEF3F0;
    width: 100%;
    padding: 5% 0;
}
.resume__container{
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
    box-sizing: border-box;    
}
.resume__title{
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.resume__paragraph{
    font-size: 16px;
}

/* personajes */
.container_personajes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  width: 80%;
  height: 220px;
  margin: 0 auto;

}

.container_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
  height: 100%;
}

.container_imagenes img {
 width: 100px;
  height: 150px;
  transition: transform 0.3s ease;
  filter: drop-shadow(10px 7px 10px black);
}

.container_imagenes img:hover {
  transform: scale(1.5);

}

.nombre_imagen {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  flex-direction: column;
  padding-top: 30px;
}

.subtitulo_personajes {
  text-align: center;
  padding: 20px;
}

/*Contacto*/
section.formcontacto{
    background-color: #9DAE7D;
    width: 100%;
    padding: 5% 0;
}
.formcontacto__contacto{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    font-size: 16px;
    width: 90%;
    box-sizing: border-box;
}
.formcontacto__text{
    margin: 0 0 0 3%;
    width: 100%;
}
.formcontacto__form{
    display: flex;
    flex-direction: column;    
}
.formcontacto__input{
    padding: 1% 0 3% 1%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-family: 'Raleway';
    border-radius: 4px;
    max-width: 1440px;
    width: 90%;
}
.formcontacto__input:focus {
    border: 2px solid #C56742;
}
.formcontacto__textarea{
    padding: 1% 0 3% 1%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-family: 'Raleway';
    resize: none;
    border-radius: 4px;
    max-width: 1440px;
    width: 90%;
}
.formcontacto__textarea:focus {
    border: 2px solid #C56742;
}
.formcontacto__subtext{
    font-size: 16px;
    font-weight: 100;
    margin: 1% 0;
}
.formcontacto__botao {
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    background-color: #C56742;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1.5%;
}

.formcontacto__botao:hover {
    background-color: #d4886a;
    transform: translateY(-2px);
}
/*Footeer*/
section.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.5%;
}
.footer__rodape p{
    padding: 0;
    margin: 0;
}
/*Tablet*/
@media (max-width: 768px) {
/* Menú */
.menu__list{
    display: none;
}
.menu__title{
    font-size: 16px;
}
.nav-bar .menu__list__item__contato2{
    display: flex;
    font-size: 16px;
    font-weight: bold;
}
/*title*/
.title__section{
    font-weight: bold;
    font-size: 22px;
    margin-top: auto;    
}
.title__subsection{
    font-size: 16px;
    font-weight: 100;
    
}
/*Resumen*/
.resume__title{
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.resume__paragraph{
    font-size: 14px;
}
/*Personajes Principales*/
.pCaracters__line{
    flex-wrap: wrap;
}
.pCaracters__box{
    width: 26vw;
    height: 26vw;
    margin-bottom: 5%;
    
}
/*Pilares*/
.pilares__line{
    flex-wrap: wrap;
}
.pilares__box{
    
    width: 26vw;
    height: 26vw;
    margin-bottom: 5%;
}
/*Mobile*/
@media (max-width: 425px) {
/*Menu*/
.menu__list{
    display: none;
}
.menu__title{
    font-size: 16px;
}
.nav-bar .menu__list__item__contato2{
    display: flex;
    font-size: 14px;
}
/*Title*/
section.title{
    display: flex;
    margin: 32px 5% 32px 5%;
    
}
.title__div {
    display: flex;
    flex-direction: column
}
.title__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}
.title__section{
    font-weight: bold;
    font-size: 22px;
    margin-top: auto;    
}
.title__subsection{
    font-size: 14px;
    font-weight: 100;
    
}
/*Resumen*/
.about__title{
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.about__paragraph{
    font-size: 14px;
}


}
}


/* responsive de personajes desde celular, tablet y notebook */
@media (min-width: 300px) and (max-width: 900px){
/* personajes */
.container_personajes {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 40%;
  width: 80%;
}

.container_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: 100%;
}

.nombre_imagen {
  text-align-last: center;
  font-size: 1rem;
  margin-top: 5px;
  flex-direction: column;
  width: 50%;
}
}

