:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */

    --cor-de-fundo: #F6BBBE;
    --cor-de-link: #49373B;
    ;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a,
h2,
h3,
h4,
p {
    text-decoration: none;
    color: var(--cor-de-link);
    cursor: pointer;

}

.pagina {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(73%);
}

.logo {
    width: 6em;
}

.burger{
    display: none;
}
header nav ul {
    display: flex;
    gap: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 1em 2em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: rgb(218, 211, 209);
    font-weight: bolder;
}

li:hover,
a:hover {
    transform: scale(1.07);
    color: rgba(209, 47, 47, 0.884);
}

.title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

h1 {
    color: rgba(240, 236, 235, 0.89);
}

.sub {
    display: block;
    text-align: center;
    color: rgba(219, 49, 49, 0.884);
    font-size: 0.5em;
}

.iframes {
    display: flex;
    justify-content: space-between;
    margin: 0 1.1em 1.1em 1.1em;
}

.iframes iframe {
    height: 100px;
    width: 250px;
    border-radius: 5px;
}

.iframeContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 15px;
}

.qr img {
    height: 15vh;
    filter: opacity(0.7);
}

/*Sección Resumen*/
section.resume {
    background-color: #FEF3F0;
    width: 100%;
    padding: 5% 0;
}

.resume__container {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
    box-sizing: border-box;
}

.resume__title {
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.resume__paragraph {
    font-size: 16px;
}

/* personajes */
.container_personajes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
    width: 80%;
    height: 220px;
    margin: 0 auto;

}

.container_imagenes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100px;
    height: 100%;
}

.container_imagenes img {
    width: 100px;
    height: 150px;
    transition: transform 0.3s ease;
    filter: drop-shadow(10px 7px 10px black);
}

.container_imagenes img:hover {
    transform: scale(1.5);

}

.nombre_imagen {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    flex-direction: column;
    padding-top: 30px;
}

.subtitulo_personajes {
    text-align: center;
    padding: 20px;
}

/*Contacto*/
section.formcontacto {
    background-color: #9DAE7D;
    width: 100%;
    padding: 5% 0;
}

.formcontacto__contacto {
    display: flex;
    margin: auto;
    max-width: 1440px;
    font-size: 16px;
    width: 90%;
    box-sizing: border-box;
    align-items: center;
}

.formcontacto__imagen{
    filter: drop-shadow(10px 7px 10px black);
    
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#chachamaru.fadeOut{
    animation: fadeOut 1s forwards;
}

.formcontacto__text{

    margin: 0 0 0 3%;
    width: 100%;
}

.formcontacto__form {
    display: flex;
    flex-direction: column;
}

.formcontacto__input {
    padding: 1% 0 3% 1%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-family: 'Raleway';
    border-radius: 4px;
    max-width: 1440px;
    width: 90%;
}

.formcontacto__input:focus {
    border: 2px solid #C56742;
}

.formcontacto__textarea {
    padding: 1% 0 3% 1%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-family: 'Raleway';
    resize: none;
    border-radius: 4px;
    max-width: 1440px;
    width: 90%;
}

.formcontacto__textarea:focus {
    border: 2px solid #C56742;
}

.formcontacto__subtext {
    font-size: 16px;
    font-weight: 100;
    margin: 1% 0;
}

.formcontacto__botao {
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    background-color: #C56742;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1.5%;
}

.formcontacto__botao:hover {
    background-color: #d4886a;
    transform: translateY(-2px);
}

.error {
    text-align: star;
    color: red;
}

#chachamaru__image{
    height: 100%;
    width: 100%;
}

/*Footeer*/
section.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.5%;
}

.footer__rodape p {
    padding: 0;
    margin: 0;
}

/*Tablet*/
@media (max-width: 768px) {
    /* Hero */
    .title {
        font-size: 4.5vw;
    }
    .qr {
        display: none;
    }
    .iframes {
        justify-content: center;
    }
    .iframes iframe {
        height: 13vh;
        width: 40vw;
    }
    .hero>header>nav>ul>li{
        display: none;
    }
    .burger{
        display: block;
        height: 40px;
        cursor: pointer;
    }

    /*Resumen*/
    .resume__title {
        font-size: 22px;
        padding: 0;
        margin: 0;
    }

    .resume__paragraph {
        font-size: 14px;
    }

    /*Form contacto*/

    #chachamaru__image{
        height: 80%;
        width: 80%;
    }
}

/*Mobile*/
@media (max-width: 425px) {
    /* Hero */
    .title .sub{
        font-size: 6.3vw;
        margin-top: 7px;

    }
    video{
        display: none;
    }
    .hero{
        background-image: url(assets/img/mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*Resumen*/
    .about__title {
        font-size: 22px;
        padding: 0;
        margin: 0;
    }
    .about__paragraph {
        font-size: 14px;
    }
}

/* responsive de personajes desde celular, tablet y notebook */
@media (min-width: 300px) and (max-width: 900px) {

    /* personajes */
    .container_personajes {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        flex-wrap: wrap;
        height: 40%;
        width: 80%;
    }

    .container_imagenes {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100px;
        height: 100%;
    }

    .nombre_imagen {
        text-align-last: center;
        font-size: 1rem;
        margin-top: 5px;
        flex-direction: column;
        width: 50%;
    }
}